<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<beans:bean id="roleVoter"
	class="org.springframework.security.access.vote.RoleVoter">
	<beans:property name="rolePrefix" value=""></beans:property>	
</beans:bean>

<beans:bean id="accessDecisionManager"
	class="org.springframework.security.access.vote.AffirmativeBased">
	<beans:constructor-arg name="decisionVoters" ref="roleVoter"/>	
</beans:bean>

<http authentication-manager-ref="jdbc-auth"
access-decision-manager-ref="accessDecisionManager">
	<intercept-url pattern="/proupform" access="1,2"/>
	<intercept-url pattern="/mylist" access="1,2"/>
	<intercept-url pattern="/donate" access="1,2"/>
	<intercept-url pattern="/cancle" access="1,2"/>
	<intercept-url pattern="/mypage" access="1,2"/>
	<intercept-url pattern="/mydonate" access="1,2"/>
	<intercept-url pattern="/myProject" access="1,2"/>
	<intercept-url pattern="/editinfo" access="1,2"/>
	<intercept-url pattern="/ProjectUpload" access="1,2"/>
	<intercept-url pattern="/admin" access="1"/>
	<intercept-url pattern="/admin.*" access="1"/>
	
<!--<intercept-url pattern="/bbs1detail" access="User"/> -->
<!--<intercept-url pattern="/bbs1Form" access="User"/>-->
	<form-login login-page="/login"
	authentication-failure-url="/denied"
		username-parameter="username"
		password-parameter="password"
		default-target-url="/index"/>
	<logout invalidate-session="true" logout-success-url="/index"
		logout-url="/j_spring_security_logout" />
	<access-denied-handler error-page="/denied"/>
	<session-management invalid-session-url="/login">
		<concurrency-control max-sessions="1"
			expired-url="/login"/>
	</session-management>
</http>


<!--  삭제 예정 -->
<!-- <authentication-manager id="in-memory-auth">
  <authentication-provider>
   <user-service>
    <user name="javabook" password="test00" authorities="Admin" />
   </user-service>
  </authentication-provider>
 </authentication-manager> -->
 
  <authentication-manager id="jdbc-auth">
  <authentication-provider>
   <jdbc-user-service data-source-ref="dataSource"
    users-by-username-query="select memberid as username,memberpwd as password, memberenabled as enabled from member where memberid = ?"
    authorities-by-username-query="select memberid as username,membergrant as role from member where memberid = ?" />
  </authentication-provider>
 </authentication-manager>
 
 <beans:bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
  <beans:property name="jndiName" value="java:comp/env/jdbc/myora" />
 </beans:bean>
 
</beans:beans>