<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="log">

	<insert id="logins" parameterType="lvo">
		insert into logger values(log_seq.nextVal, '조현무', '남', 25, '1', '1', sysdate, 10000)
	</insert>
	
</mapper>