<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="log">

	<insert id="logins" parameterType="lvo">
		insert into logger values(log_seq.nextVal, #{memberName}, 
		#{memberGender}, #{memberAge}, #{categoryNo}, #{subCategoryNo}, sysdate, #{donateMoney})
	</insert>
	<!--  로그에 넣기 위한 카테고리 번호와 서브카테고리 번호 빼오는 구문 -->
	<select id="getLogCategory" parameterType="int" resultType="projvo">
		select categoryNo, subCategoryNo
		from project
		where projectNo = #{projectNo}
	</select>
</mapper>