<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project2">
	<select id="selde" parameterType="int" resultType="devo">
		select d.deniedNo, d.projectNo projectNo, d.reason from denied d, project p, member m 
		where d.projectNo=p.projectNo and p.memberNo=m.memberNo and m.memberNo=#{memberNo} and d.firstview=0
	</select>
	
	<update id="upde" parameterType="String">
		update denied set firstview=1 where projectNo=#{projectNo}
	</update>
	
	<select id="showreason" parameterType="String" resultType="String">
		select reason from denied where projectNo=#{projectNo}
	</select>
	
	<delete id="delreason" parameterType="int">
		delete from denied where projectNo=#{projectNo}
	</delete>
</mapper>