<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="word">
	<!-- word에서 사용하는 mapper -->
	<resultMap type="mvo" id="mem_and_proj">
		<id property="memberNo" column="memberNo" javaType="int"/>
		<result property="memberName" column="memberName"/>
		<result property="memberPhone" column="memberPhone"/>
		<result property="memberEmail" column="memberEmail"/>
		<result property="memberGender" column="memberGender"/>
		<result property="memberAge" column="memberAge"/>
		<association property="project" column="memberNo"
			javaType="projvo">
			<id property="projectNo" column="projectNo"/>
			<result property="projectStep" column="projectStep"/>
			<result property="projectName" column="projectName"/>
			<result property="projectStartDate" column="projectStartDate"/>
			<result property="projectEndDate" column="projectEndDate"/>
			<collection property="product" javaType="java.util.List"
				resultMap="product_result" ofType="prodvo"/>
		</association>
	</resultMap>
	
	<resultMap type="prodvo" id="product_result">
		<id property="productNo" column="productNo"/>
		<result property="productName" column="productName"/>
		<result property="productCnt" column="productCnt"/>
		<result property="productInfo" column="productInfo"/>
		<result property="productCost" column="productCost"/>
	</resultMap>
			
	<select id="wordInfo" parameterType="int" resultMap="mem_and_proj">
		select m.memberNo, m.memberName, m.memberPhone, m.memberEmail, m.memberGender, m.memberAge,
		p.projectNo, p.projectStep, p.projectName, p.projectStartDate, p.projectEndDate,
		d.productNo, d.productName, d.productCnt, d.productInfo, d.productCost
		from project p, member m, product d
		where m.memberno = p.memberno and p.projectNo=#{projectNo} and d.projectNo = p.projectNo
	</select>
	
</mapper>